<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>UsuarioControlador</servlet-name>
        <servlet-class>controlador.UsuarioControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarreraControlador</servlet-name>
        <servlet-class>controlador.CarreraControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EstudianteControlador</servlet-name>
        <servlet-class>controlador.EstudianteControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocenteControlador</servlet-name>
        <servlet-class>controlador.DocenteControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MateriaControlador</servlet-name>
        <servlet-class>controlador.MateriaControlador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioControlador</servlet-name>
        <url-pattern>/UsuarioControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarreraControlador</servlet-name>
        <url-pattern>/CarreraControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EstudianteControlador</servlet-name>
        <url-pattern>/EstudianteControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocenteControlador</servlet-name>
        <url-pattern>/DocenteControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MateriaControlador</servlet-name>
        <url-pattern>/MateriaControlador</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
